body {
  font-family: 'ubuntu', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.618rem;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
  font-family: 'ubuntu', sans-serif;
  font-weight: 900;
  font-size: 0.9rem;
  line-height: 1.5;
}

#title {
  background-color: #D3E4CD;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.2em !important;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  opacity: 70%;
}

.ms-n1 {
  margin-left: -21% !important;
}

.ms-n2 {
  margin-left: 68% !important;
}

/* Download Buttons */
#apple-btn:hover {
  background-color: #FBFBFB;
  color: #D3E4CD;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  margin-left: 20%;
  width: 70%;
  transform: rotate(20deg);
}

/* Features Section */
#features {
  padding: 7% 15%;
}

.feature-column {
  display: inline-block;
  text-align: center;
  padding: 0 2%;
}

.features-icon {
  margin-bottom: 1rem;
  color: #0B4619;
}

.features-icon:hover {
  color: #D3E4CD;
}

.features-section {
  text-align: center;
}
