body {
  font-family: 'ubuntu', sans-serif;
}

h1  {  
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;  
  line-height: 1.5;  
}

h2 {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.618rem;  
  line-height: 1.5;  
}

p {
  color: #8f8f8f;
  font-family: 'ubuntu', sans-serif;
  font-weight: 900;
  font-size: 1.05rem; 
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  
  .title-image {
    position: static;
    transform: rotate(0);
  }
}

#title {
  background-color: #D3E4CD;
}

.container-fluid {
  padding: 3% 15%;
}

.download-section {
  margin-bottom: 250px;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
    font-size: 2.2em !important;
    font-weight: bold;
  }
  
.nav-link {
  font-size: 1.2rem;
  opacity: 70%;
}

.ms-n1 {
  margin-left: -21% !important;
}

.ms-n2 {
  margin-left: 68% !important;
}

/* Download Buttons */

#apple-btn:hover {
  background-color: #FBFBFB;
  color: #D3E4CD;
}

/* Title Image */

.title-image {
  margin-left: 5%;
  height: 600px;
  transform: rotate(20deg);
  position: absolute;
}

/* Features Section */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-column {
  display: inline-block;
  text-align: center;
  padding: 0 2%;
}

.features-icon {
  margin-bottom: 1rem;
  color: #0B4619;
}

.features-icon:hover {
  color: #D3E4CD;
}

.features-section {
  text-align: center;
}

/* Testimonial Section */

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #D3E4CD;
  text-align: center;
  padding-bottom: 6%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#testimonials {
  text-align: center;
  background-color: #D3E4CD;
  padding-top: 50px;
}

.testimonial-image {
  width: 13%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  width: 10%;
  font-family: 'ubuntu', sans-serif;
  font-weight: bolder;
  font-size: 1.2rem; 
}

/* Pricing Section */

#pricing {
  padding: 125px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-text {
  line-height: 1.1;
}

.call-to-action-text {
  font-family: 'ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.25rem; 
}

.btn-premium {
  background-color: #0B4619;
}

.btn-pricing:hover {
  background-color: #D3E4CD;
  color: #000;
}

/* Call to Action */

#cta {
  background-color: #D3E4CD;
  text-align: center;
  padding: 10% 10%;
}

.cta-btn {
  padding: 1% 5%;
  font-size: 2rem;
  margin: 0 2%;
}

.cta-title {
  text-align: center;
  width: 70%;
  margin: auto;
  margin-bottom: 70px;
}

/* Footer */

#footer {
  background-color: #fff;
  text-align: center;
  padding: 10% 10%;
}

.socials {
  margin: 3% 0;
}

.footer-btn:hover {
  color: #D3E4CD;
}

.footer-link {
  text-decoration: none;
  color: #0B4619;
}
